{#css common/MediaFrame.css, common/Pill.css, editorial/Collection.css #}
{#def world #}
{% set cover_src = world.image_url or '/static/img/plate-' ~ ((world.volume - 1) % 8 + 1) ~ '.svg' %}
<a class="cover collection-surface" href="/worlds/{{ world.id }}">
  <common.MediaFrame ratio="landscape" class="cover__media" :src="cover_src" alt="">
    <span class="cover__badge">Volume {{ world.volume }}</span>
  </common.MediaFrame>
  <div class="cover__body">
    <span class="eyebrow">Aggiornato {{ world.updated_at | time }}</span>
    <h2 class="cover__title">{{ world.name }}</h2>
    <p class="cover__desc">{{ world.description }}</p>
    <div class="cover__foot">
      {% if world.role == 'master' %}
      <common.Pill variant="master">Master</common.Pill>
      {% else %}
      <common.Pill variant="player">Giocatore</common.Pill>
      {% endif %}
    </div>
  </div>
</a>
