[defaults]
host_key_checking = True
retry_files_enabled = False
display_skipped_hosts = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o BatchMode=yes
