{#def current_user=None #}
{#css common/Avatar.css, common/Button.css, common/Menu.css, common/Tooltip.css, layout/Page.css, layout/Sidebar.css, layout/UserMenu.css, common/SaveIndicator.css, pages/home/Home.css, layout/Rail.css, layout/Topbar.css, layout/Palette.css #}
<layout.Page title="Home" current_user={{ current_user }} active="home">
  <div class="home">
    <h1>Home</h1>
    <p style="color: var(--clr-text-secondary);">Bentornato, {{ current_user.name }}.</p>
  </div>
</layout.Page>
