ROOTGDR_PROJECT={{ rootgdr_plan.target.project }}
ROOTGDR_IMAGE={{ rootgdr_plan.artifact.image_id }}
ROOTGDR_DATABASE_IMAGE={{ (rootgdr_transfers | selectattr('archive_name', 'equalto', 'postgres.oci.tar') | first).image_id }}
ROOTGDR_BIND_ADDRESS={{ rootgdr_plan.target.bind_address }}
ROOTGDR_PORT={{ rootgdr_plan.target.port }}
ROOTGDR_DATABASE_ENV={{ rootgdr_plan.release_directory }}/database_env
ROOTGDR_RUNTIME_ENV={{ rootgdr_plan.release_directory }}/runtime_env
ROOTGDR_RUNTIME_CONFIG={{ rootgdr_plan.release_directory }}/runtime_config
ROOTGDR_MIGRATION_ENV={{ rootgdr_plan.release_directory }}/migration_env
ROOTGDR_MIGRATION_CONFIG={{ rootgdr_plan.release_directory }}/migration_config
ROOTGDR_DB_INIT_SCRIPT={{ rootgdr_plan.release_directory }}/init_db_script
ROOTGDR_DB_INIT_SQL={{ rootgdr_plan.release_directory }}/init_db_sql
