{#def title="Conferma", message, confirm_label="Conferma", cancel_label="Annulla", confirm_variant="danger", confirm_icon=None #}
{#css common/Button.css, common/Dialog.css, common/Tooltip.css, common/HStack.css, common/ConfirmDialog.css #}
<common.Dialog :title="title">
  <p class="confirm-dialog__message">{{ message }}</p>
  <common.HStack gap=3 justify="end">
    <common.Button type="button" variant="secondary" size="md"
                   data-dialog-close data-dialog-autofocus>{{ cancel_label }}</common.Button>
    <common.Button type="button" :variant="confirm_variant" size="md"
                   :icon="confirm_icon" data-dialog-confirm _attrs={{ attrs }}>
      {{ confirm_label }}
    </common.Button>
  </common.HStack>
</common.Dialog>
