{#def role, style="icons" #}
{% set mark_style = style.value if style.value is defined else style %}
<span {{ attrs.render(class="mark mark--" ~ mark_style) }} data-mark-style="{{ mark_style }}" aria-hidden="true">{{ mark(role, mark_style) }}</span>
