{#def label=None, icon=None, href=None, variant="default" #}
{% set classes = "menu-item menu-item-" ~ variant %}
{% if href %}
    <a href="{{ href }}" role="menuitem" {{ attrs.render(class=classes) }}>
        {% if label %}
            {% if icon %}
                <span class="menu-item-icon"><common.Icon :name="icon" size={{ 18 }} /></span>
            {% endif %}
            <span class="menu-item-label">{{ label }}</span>
        {% else %}
            {{ content }}
        {% endif %}
    </a>
{% else %}
    <button type="button" role="menuitem" {{ attrs.render(class=classes) }}>
        {% if label %}
            {% if icon %}
                <span class="menu-item-icon"><common.Icon :name="icon" size={{ 18 }} /></span>
            {% endif %}
            <span class="menu-item-label">{{ label }}</span>
        {% else %}
            {{ content }}
        {% endif %}
    </button>
{% endif %}
