{#def headers, stack=False #}
{#css common/Table.css #}
{% set table_classes = "table" ~ (" table--stack" if stack else "") %}
<div class="table-wrapper">
  <table {{ attrs.render(class=table_classes) }}>
    <thead>
      <tr>
        {% for header in headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ content }}
    </tbody>
  </table>
</div>
