{#def headers #}
{#css common/Table.css #}
<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ content }}
    </tbody>
  </table>
</div>
